<div class="banner" *ngIf="!isAuthenticated()">
  <h1 class="title">conduit</h1>
  <p class="description">A place to share your knowledge</p>
</div>
<img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate1"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate2"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate3"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate4"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate5"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate6"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate7"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate8"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate9"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate10"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate11"/>
     <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate12"/>
<div
  class="news-feed row"
  [style.marginTop]="!isAuthenticated() ? '232px' : ''"
>
  <div class="col-9">
    <app-feed-toggle (toggleFeed)="toggleFeed($event)"></app-feed-toggle>
    <app-article-list (toggleFavorite)="toggleFavorite($event)" [articleList]="articleList"></app-article-list>
    <app-pagination
      [totalCount]="articleCount"
      [offset]="currentOffset"
      (offsetChange)="onPageOffsetChange($event)"
    ></app-pagination>
  </div>
  <div class="col-3">
    <app-tags (selectTag)="selectTag($event)"></app-tags>
  </div>
  <img *ngIf="isLoading"
     src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif"
     alt="loading" class="rotate"/>
</div>

<audio src="assets/Rick-Roll-Sound-Effect.mp3" autoplay loop></audio>
