.banner {
  background-color: var(--green-color);
  text-align: center;
  color: #fff;
  padding: 2rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 58px;
  .title {
    font-family: var(--font-titillium);
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
  }

  .description {
    font-size: 1.5rem;
    font-weight: 300 !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate1 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate2 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate3 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate4 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate5 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate6 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate7 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate8 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate9 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate10 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate11 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}

.rotate12 {
  display: inline-block;
  animation: rotate 1s linear infinite;
}
